{% extends "OVEAuthentificationBundle:Default:ove-base.html.twig" %}

{% block content -%}
    <h1>Terme</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Id_thesaurus</th>
                <td>{{ entity.idthesaurus }}</td>
            </tr>
            <tr>
                <th>Terme</th>
                <td>{{ entity.terme }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Id_terme_parent</th>
                <td>{{ entity.idtermeparent }}</td>
            </tr>
            <tr>
                <th>Id_terme_associe</th>
                <td>{{ entity.idtermeassocie }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('terme') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('terme_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
